image:
    tag: {{ image_tag_name }}
db:
    user: {{ lookup('amazon.aws.aws_secret' item + '.username') }}
    password: {{ lookup('amazon.aws.aws_secret' item + '.password') }}
config:
    postgresDB: todo_app
    postgresHost: {{ rds_endpoint }}
    corsAllowedOrigins: [ {{ frontend_url }}, "www.{{ frontend_url }}" ]
ingress:
    enabled: true
    annotations:
    className: kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
    tls:
    - hosts:
    {% for host in backend_api_urls %}
      - {{ host }}
    {% endfor %}
    secretName: {{ tls_secret_name }}
    hosts:
    {% for host in backend_api_urls %}
    - host: {{ host }}
        paths:
        - path: /
            pathType: prefix
            service:
            name: "todo-backend-{{ branch_name }}"
            port:
                number: 80
    {% endfor %}
